{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>button.deemphasize { background-color: azure; color: blueviolet }</style>
    <h2>Active Cards</h2>
    <table>
        <tr>
            <th>Voucher</th>
            <th>Product</th>
            <th>AUD</th>
            <th></th>
        </tr>
        {% for card in object_list %}
            <tr>
                <td>{{ card.voucher_number }}</td>
                <td>{{ card.product.name }}</td>
                <td>${{ card.aud_value }}</td>
                <td>
                    {%  if card.is_archived %}
                        <button class="archive deemphasize" data="{{ card.pk }}">Archived</button>
                    {% else %}
                        <button class="archive" data="{{ card.pk }}">Archive</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascript %}
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script src="{%  static 'app.js' %}"></script>
{% endblock %}
