<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Cards App{% endblock %}</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

</head>

<body>
  <div class="container">
      <div>
          <p>Hello {{ request.user }}</p>
      </div>
      <main>
        {% block content %}
        {% endblock %}
      </main>
        {% if request.user.is_authenticated %}
          <div>
            <p><a href="{% url 'logout' %}">Logout</a></p>
          </div>
        {% endif %}
  </div>
  {% block javascript %}{% endblock %}
</body>

</html>